:root {
  --font-sans: 'Inter', -apple-system, sans-serif;
  --bg-color: #F9F9FB;
  /*--bubble-agent-bg: #EFEFF2;*/
  /*--bubble-user-bg: #0A84FF;*/
  --main-content-bg-color: #ffffff;
  --text-primary: #1d1d1f;
  --text-secondary: #8A8A8E;
  --text-on-accent: #ffffff;
  --border-color: #E5E5E5;
  --sidebar-history-conversation-button-selected: #EAEAEA;
  --sidebar-background: #F9F9FA;
  --sidebar-new-conversation-button-background: #FFFFFF;
  --bubble-agent-bg: #EAEAEA;
  --bubble-agent-text: #1d1d1f;
  --bubble-agent-code-bg: #F9F9FA;
  --bubble-user-bg: #1d1d1f;
  --buble-user-text: #ffffff;
  --radius-lg: 22px;
  --radius-md: 16px;
  --radius-sm: 12px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
}
